footer {
display: flex;
align-items: center;
justify-content: center;
background-color:#7f7e7e;
height: auto;
color: rgb(0, 0, 0);
}
footer p {
  font-size: 30px;
  height: 1rem;
  text-align: center;
}