.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  
}
header{
    width: 100%;
}
.navigation {
  width: 100%;
  height: 70px;
  /* padding: 25px 0; */
  background-color: #7f7e7e;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transition: all .8s;
  align-items: center;
}
.title{
  color: #000000fe;
  float: left;
  align-self: center;
  font-size: 30px;
  margin-left: 1rem;
}

.title:hover{
  cursor: pointer;
}

.navigation-links li {
  color: #000000;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
  transition: all .3s;
  background-color: #959494;
  margin-right: 20px;
  font-size: 20px;
}

.navigation-links li:hover {
  background-color: #c8d20f;
  color: #000000;
  cursor: pointer;
}

.navigation-links li.active {
  background-color: rgb(109, 109, 109);
  color: #fff;
  cursor: pointer;
}

