
.hero {
  position: relative;
  height: 100%;
  width: 100%;
  /* height: 100%; */
  background: url('https://t3.ftcdn.net/jpg/04/29/35/62/360_F_429356296_CVQ5LkC6Pl55kUNLqLisVKgTw9vjyif1.jpg') center/cover no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
}

.content {
  position: relative;
  color: #fff;
  max-width: 800px;
  padding: 0 20px;
  animation: fadeInUp 1.2s ease-in-out;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 0px;
  line-height: 1.6;
}

.cta-btn {
  color: #000000;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  transition: all .3s;
  background-color: #959494;
  margin-right: 20px;
  font-size: 20px;
}

.cta-btn:hover {
  background-color: #c8d20f;
  color: #000000;
  cursor: pointer;
}

.cta-btn.active {
  background-color: rgb(109, 109, 109);
  color: #fff;
  cursor: pointer;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content h1 {
  color:white;
}