

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #000000;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: #000000;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: rgb(5, 5, 5);
    cursor: pointer;
    background-color: #959494;
    width: 100%;
    font-size: 16px;
  transition: all .3s;

}
button:hover {
    background-color: #c8d20f;
  color: #000000;
  cursor: pointer;
}
.main p {
    color: black;
}
.main p a {
    transition:ease-in-out 0.2s;
}

.main p a:hover {
font-weight: bold;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centering {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* margin: 0; */
}
p.error {
    text-align: left;
    border-radius: 0.5em;
    color: red !important;
    padding-top: 0;
    font-weight: bold;
}

button:disabled {
  cursor: crosshair;
  opacity: 0.6;
}

.error-message{
  position:absolute;
  right:100px;
  color:red;
  font-size: 20px;
  
}