@import url('./styles/Header.css');
@import url('./styles/Home.css');
@import url('./styles/Footer.css');
@import url('./styles/About.css');
@import url('./styles/Login.css');
@import url('./styles/Register.css');
@import url('./styles/Create.css');
@import url('./styles/Catalog.css');
@import url('./styles/singleCard.css');
@import url('./styles/Details.css');


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  padding: 0;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:#5d5c5c
}

/* body {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
  background-color: #7979797b;

} */

main {
  flex: 1; /* заема наличното пространство */
}


a {
  text-decoration: none; 
  color: #000000;
  border-radius: 20px;
  transition: all .3s;
  font-size: 15px;
  /* padding: auto; */
  /* align-items: center; */

}

a:hover {
  color: #000000;
  cursor: pointer;
}

 a.active {
  background-color: rgb(109, 109, 109);
  color: #fff;
  cursor: pointer;
}

.searchContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.searchContainer input {
  width: 40%;
}
